[mysqld]
basedir                        = /usr
bind_address                   = 0.0.0.0
datadir                        = /var/lib/mysql
innodb_flush_log_at_trx_commit = 1
lc_messages_dir                = /usr/share/mysql
log_bin                        = /var/log/mysql/mysql_bin.log
pid_file                       = /var/run/mysqld/mysqld.pid
plugin_dir                     = /usr/lib/mysql/plugin
port                           = 3306
read_only                      = 0
server_id                      = #SERVER_ID
socket                         = /var/run/mysqld/mysqld.sock
sync_binlog                    = 1
tmpdir                         = /tmp
user                           = mysql

skip_external_locking
skip_name_resolve
